DJANGO_SECRET_KEY=django-insecure-change-me
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

MYSQL_DATABASE=LOLDB
MYSQL_USER=loluser
MYSQL_PASSWORD=lolpassword
MYSQL_HOST=db
MYSQL_PORT=3306
